@model Gazorpgazorpfridge.Models.Refrigerador

@{
    ViewBag.Title = "Details";
}

<h2>Mi Refri</h2>

<div>
    <h4>Refrigerador</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Modelo.codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modelo.codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.capacidad_restante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.capacidad_restante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modelo.capacidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modelo.capacidad)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Modelo.indiceEnfriamiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modelo.indiceEnfriamiento)
        </dd>
    </dl>
    <h4>Canasta básica</h4>
    <hr />
    <dl class="dl-horizontal">
        
        @if (Model != null && Model.micanasta != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.micanasta.productos)
            </dt>
            foreach (var item in Model.micanasta.productos.AsEnumerable())
            {
                <dd>
                    @Html.DisplayFor(modelItem => item.nombre)
                </dd>
            }
            <dt>
                @Html.DisplayNameFor(model => model.micanasta.descripcion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.micanasta.descripcion)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.micanasta.perEscasez)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.micanasta.perEscasez)
            </dd>
        }
        @Html.ActionLink("Editar canasta básica", "../CanastaBasica/Edit", null, new { @class = "btn btn-default" })
    </dl>
</div>
<p>
    @* @Html.ActionLink("Edit", "Edit", new { id = Model.id }) | *@
    @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-default" })
</p>
