@model IEnumerable<Gazorpgazorpfridge.Models.Refrigerador>

<br />
<br />

@* Table for fridges owned by the user *@
    <p>
        @Html.ActionLink("Add refri", "Create", "Refrigeradores")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modelo.capacidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modelo.indiceEnfriamiento)
            </th>
            <th>
                Capacidad disponible
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                   @Html.DisplayFor(modelItem => item.codigo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Modelo.capacidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Modelo.indiceEnfriamiento)
                </td>
                <td>
                    //Poner calculo aqui//
                </td>
                <td>
                    @Html.ActionLink("Añadir Paquete", "CreateForRefri", "Paquetes", new { id = item.id }, null)| 
                    @Html.ActionLink("Details", "Details", "Refrigeradores", new { id = item.id }, null) |
                    @Html.ActionLink("Delete", "Delete", "Refrigeradores", new { id = item.id }, null)
                </td>
            </tr>
        }

    </table>

<p>
    @Html.ActionLink("Add receta", "Create", "Recetas")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modelo.capacidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modelo.indiceEnfriamiento)
        </th>
        <th>
            Capacidad disponible
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modelo.capacidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modelo.indiceEnfriamiento)
            </td>
            <td>
                //Poner calculo aqui//
            </td>
            <td>
                @Html.ActionLink("Añadir Paquete", "CreateForRefri", "Paquetes", new { id = item.id }, null)|
                @Html.ActionLink("Details", "Details", "Refrigeradores", new { id = item.id }, null) |
                @Html.ActionLink("Delete", "Delete", "Refrigeradores", new { id = item.id }, null)
            </td>
        </tr>
    }

</table>



