@model IEnumerable<Gazorpgazorpfridge.Models.Refrigerador>

<br />
<br />

    <p>
        @Html.ActionLink("Create New", "Create", "Refrigeradores")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Modelo.codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.codigo)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Modelo.codigo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.codigo)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", "Refrigeradores", new { id = item.id }, null) |
                    @Html.ActionLink("Delete", "Delete", "Refrigeradores", new { id = item.id }, null)
                </td>
            </tr>
        }

    </table>

