@model IEnumerable<Gazorpgazorpfridge.Models.Paquete>

@{
    ViewBag.Title = "Index";
}

<h2>Productos almacenados</h2>

<p>
    @* @Html.ActionLink("Create New", "Create") *@
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Producto.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.caducidad)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Producto.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.caducidad)
        </td>
        <td>
            @Html.ActionLink("Consumir", "Edit", new { id=item.id }, new { @class = "btn btn-success"} )
            @* @Html.ActionLink("Delete", "Delete", new { id=item.id }) *@
        </td>
    </tr>
}

</table>
